/* Custom CSS variables */
:root {
  --color-gray: #808080;
  --color-highlight-background: rgba(207, 207, 207, 0.79);
  --color-highlight-color: #eb5757;
  --shadow-inner-border: 0 2px 2px 2px rgba(0, 0, 0, 0.16);
}

/* Custom components */
.text-title {
  font-size: 24px;
  line-height: 1.3;
}

@media (min-width: 768px) {
  .text-title {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .text-title {
    font-size: 40px;
    line-height: 1.2;
  }
}
