@font-face {
  font-family: 'Paperlogy';
  font-weight: 900;
  font-display: swap;
  src: local('Paperlogy Black'), url('./paperlogy/Paperlogy-9Black.ttf');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 800;
  font-display: swap;
  src: local('Paperlogy ExtraBold'), url('./paperlogy/Paperlogy-8ExtraBold.ttf');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 700;
  font-display: swap;
  src: local('Paperlogy Bold'), url('./paperlogy/Paperlogy-7Bold.ttf');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 600;
  font-display: swap;
  src: local('Paperlogy SemiBold'), url('./paperlogy/Paperlogy-6SemiBold.ttf');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 500;
  font-display: swap;
  src: local('Paperlogy Medium'), url('./paperlogy/Paperlogy-5Medium.ttf');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 400;
  font-display: swap;
  src: local('Paperlogy Regular'), url('./paperlogy/Paperlogy-4Regular.ttf');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 300;
  font-display: swap;
  src: local('Paperlogy Light'), url('./paperlogy/Paperlogy-3Light.ttf');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 200;
  font-display: swap;
  src: local('Paperlogy ExtraLight'), url('./paperlogy/Paperlogy-2ExtraLight.ttf');
}

@font-face {
  font-family: 'Paperlogy';
  font-weight: 100;
  font-display: swap;
  src: local('Paperlogy Thin'), url('./paperlogy/Paperlogy-1Thin.ttf');
}
