.wrapper {
  display: flex;
  align-items: flex-start;

  .number {
    min-width: 24px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    line-height: 1.5;
    margin-right: 3px;
  }

  .text {
    padding: 3px 2px;

    font-size: 16px;
    line-height: 1.5;
  }
}
