.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: auto;
  margin: 40px auto;
  width: 50%;
  min-width: 800px;

  line-height: 1.5;
}

.storybook {
  border: 1px solid black;
}
