@import '../fonts/paperlogy.css';

body {
  font-family: 'Paperlogy';
  font-size: 16px;

  background-color: #fbfbfb;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

code {
  font-family: inherit;
}
